@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-color: #1c1c2a;
    color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 60px auto;
    background-color: #2a2a3d;
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
    text-align: center;
}

h1 {
    color: #818cf8;
    margin-bottom: 10px;
}

p {
    color: #d1d5db;
    margin-bottom: 40px;
}


.podcast-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}

.podcast-card {
    background-color: #3b3b53;
    padding: 25px;
    border-radius: 12px;
    width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.podcast-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(99, 102, 241, 0.3);
}

h2 {
    color: #a5b4fc;
    font-size: 1.1em;
    margin-bottom: 10px;
}


audio {
    width: 100%;
    border-radius: 8px;
    outline: none;
}


.volver {
    margin-top: 40px;
}

.back {
    color: #f87171;
    text-decoration: none;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid #f87171;
    padding: 8px 20px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.back:hover {
    background-color: #f87171;
    color: #fff;
}

.infografia {
    text-align: center;
    margin: 60px auto;
}

.infografia h2 {
    color: #a5b4fc;
    margin-bottom: 20px;
    font-size: 1.6rem;
}

.infografia img {
    display: block;
    margin: 0 auto;
    width: 70%;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
}